/*=======================================
=            Component: Logo            =
=======================================*/

.logo {

  padding: 1em;


  img {
    width: 125px;
    height: auto;
    display: inline;
  }
}
