/*==========================================
=            Component: Top Nav            =
==========================================*/

.topNav {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* Flex */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  li {
    flex: 1;
    padding: 1em;
  }



}
