/*============================================
=            Component: Top Title            =
============================================*/

.topTitle h1 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
}
