/*=================================
=            Variables            =
=================================*/

//
// Colors
//

// TODO: Put a healthy starter set of colors in here.

// Basic colors

$logray:         #323232;
$midgray:        #888888;
$white:          #ffffff;
$black:          #000000;


// Assign some of these colors to some common variables

$headercolor:       $logray;
$headercolorLight:  $logray;

$bodycolor:         $logray;
$bodycolorLight:    $logray;


//
// Typography
//
// Font sizing
// Font stacks
// Font variables
//


$base-font-size:   1em; // The font size set on the root html element.
$base-line-height: 1.3; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.17em;
$h4-font-size: 1em;
$h5-font-size: 0.83em;
$h6-font-size: 0.67em;

// Basic system font stacks for e-mails and/or development use

$system-sans-font-family:    ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !default;
$system-serif-font-family:   "Georgia", "Times New Roman", "Courier", serif !default;
$system-mono-font-family:    "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Derive body, header, nav, other font families here

// $body-font-family:
// $header-font-family:
// $nav-font-family:


// Assign the font stacks

$base-font-family: $system-sans-font-family;     // The font family set on the html element.

$font-body:        $system-sans-font-family;
$font-headers:     $system-sans-font-family;
$font-navigation:  $system-sans-font-family;
$font-monospace:   $system-sans-font-family;


//
// Misc
//

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// The height of the navigation container.
$nav-height: 3em;

// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;

//
// Universal transition timing variables.
//

$site-transition-timing-slow: 0.75s;
$site-transition-timing-fast: 0.25s;
