/*=======================================
=            Layout: Regions            =
=======================================*/

//
// This all sort of started out as a general framework. Then it became
// increasingly customized to the needs of specific projects. Now I'm rather
// tempted to suggest it should just be a suggested source starter file that can
// be removed or added in as needed based on the actual content of the document.
// Basically stop trying to save time by going hands-off and start saving time
// by going hands-on and not trying to reapply old thinking to each new project.
// 

.region {
  margin: 0;
  padding: 0;
}

.region__contents {
  max-width: 1200px;
  margin: 0 auto;
  /* Flex */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;

  &.responsive {
    // add a little basic responsive styling
    @media screen and (min-width: 700px) {
      flex-flow: row nowrap;
    }
  }

  &.__column {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.region__contents--vcenter {
  align-items: center;
  justify-content: center;
}