/*=====================================
=            Region: Intro            =
=====================================*/

.introRegion {
  padding: 6em 1em;

  // background-color: $themeColor2;
  background-color: darken($themeColor2, 6%);
  background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.025) 50%);
  background-size: 50px 50px;

  .region__contents {
    justify-content: center;
  }

  @media screen and (min-width: 700px) {
    header {
      width: 75%;
    }

    div {
      width: 20%;
    }
  }
}

.introRegion__text {
  h2 {
    margin-top: 0;
    font-size: 3em;
    line-height: 1;
    padding-bottom: 1em;
    color: $themeColor5;
    border-bottom: 1px solid #ffffff;

    @media screen and (min-width: 40em) {
      font-size: 4em;
    }

    @media screen and (min-width: 60em) {
      font-size: 5em;
    }
  }

  p {
    color: #ffffff;
  }

  // a { font-weight: 700; text-decoration: underline; }

  a {
    font-weight: 700;
    color: $themeColor2;
    background-color: $themeColor5;

  transition: background-color 0.15s ease-out, 
              color 0.15s ease-out;

    // &:visited {
    //   color: $themeColor5;
    // }
    &:hover {
      background-color: $themeColor2;
      color: $themeColor5;
    }
    &:active {
      color: $themeColor1;
    }


  }

  // h2 {
  //   font-size: 6em;
  //   line-height: 1;
  // }
}