/*===================================
=            Region: Map            =
===================================*/

.mapRegion {
  border-top: 2px solid $themeColor5;

  background: $themeColor1;

  background: linear-gradient($themeColor1, darken($themeColor1, 10%));

  height: 800px;

  .region__contents {
    max-width: 100%;
    height: 100%;
  }
}

.mapRegion__header {
  margin: 1em;
  color: #ffffff;

  h2 {
    font-size: 2em;
    line-height: 1;
    padding-bottom: 1em;
    border-bottom: 1px solid #ffffff;

    color: #ffffff;

    @media screen and (min-width: 40em) {
      font-size: 2.5em;
    }

    @media screen and (min-width: 60em) {
      font-size: 3em;
    }
  }
}


.mapContainer {
  border-top: 1px dotted rgba(#ffffff, 0.25);
}