/*========================================
=            Region: Titlebar            =
========================================*/

.titlebarRegion {
  border-top: 2px solid $themeColor5;
  border-bottom: 2px solid $themeColor5;
  background: url("../img/naomifiregirl_1.jpg") right bottom no-repeat;

  @media screen and (min-width: 1200px) {
    background-position: right center;
  }

  background-color: $themeColor1;
  background-size: cover;
}

.titlebarRegion__contents {
  min-height: 70vh;

  // background: url("../img/naomifiregirl_1.jpg") center no-repeat;
}

.titlebarRegion__headline {
  text-align: center;

  h1 {
    line-height: 1;

    @media screen and (min-width: 31em) {
      font-size: 3em;
    }

    @media screen and (min-width: 40em) {
      font-size: 5em;
    }

    @media screen and (min-width: 60em) {
      font-size: 8em;
    }

    font-weight: 700;
    margin: 0 0 .25em;

    // text-shadow: 1px -1px 0px rgba(255,255,255,0.5), -1px 1px 0px rgba(0,0,0,0.8);
    color: rgba($themeColor1, 0.65);
    text-transform: uppercase;
  }
}

.titlebarRegion__introcopy {
  background-color: rgba(darken($themeColor1, 10%), 0.85);

  // width: 50%;
  padding: 0em 3em;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border: 1px dotted $themeColor2;
}

.titlebarRegion__photocredit {
  /* Flex */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;


  .caption {
    color: #ffffff;
    margin: 1em 0;
    padding: 0 3em;
    font-size: 12px;
    background: rgba(#ffffff, 0.2);

    p {
      margin: 4px;
    }
  }
}

.scrollerthing {
  text-align: center;
  padding: 3em;
  color: #ffffff;
}

// annoying junk

//   .titlebarRegion::before {
//       content: "";
//       width: 100%;
//       height: 100%;
//       position: relative;

//         background: url("../img/naomifiregirl_1.jpg") center/100% no-repeat;
//     filter: blur(10px);
//     }

// .titlebarRegion {
//   // background: url("../img/naomifiregirl_1.jpg") center/100% no-repeat darken($darkblue, 20%);

//   .region__contents {
//     min-height: 50vh;
//   background: url("../img/naomifiregirl_1.jpg") center/100% no-repeat darken($darkblue, 20%);
//   }

// }

// .titlebarRegion__headline {
//   text-align: center;

//   h1 {
//     font-size: 3em; 
//   }
// }
//